.clean-label {
    background-color: #4167d5;
    color: white;
    border: none;
    margin-left: 8px;
    text-decoration: none;
}

.clean-label:active {
    border: none;
    text-decoration: none;
}

.clean-label:hover {
    border: none;
    text-decoration: none;
}

.clean-label:focus {
    border: none;
    text-decoration: none;
}